* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: white;
}

.container {
    padding: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    background: #333;
    border-bottom: 2px solid #2c2c2c;
    padding: 20px 50px;
}

header a {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #f71e1e;
    transition: all 0.2s ease-in;
}
a:hover {
    color: #ac1818;
}

.post {
    width: 500px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background: #598191;
    color: #000;
}

.post h2 {
    margin-top: 20px;
}

.post p {
    margin-top: 10px;
}

.post a {
    color: #283c44;
}
